#loginalert{ width:800px; background:#fff; position:fixed; height:700px; margin-top:-350px; top:50%;   left:50%; margin-left:-400px; z-index:999999; display:none; font-family: "Hiragino Sans GB","Microsoft Yahei",arial,����,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; font-size:14px; -moz-border-radius: 5px;       /* Gecko browsers */
    -webkit-border-radius:5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */ 
	 behavior: url(../js/ie-css3.htc);}
.loginmask{ width:100%; height:100%; z-index:888888; background:#515151; position:fixed; top:0; left:0; display:none; }
.closealert{ width:20px; height:20px; cursor:pointer; background:url(../images/icons.png) no-repeat;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out; }
.closealert:hover{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
.closealert{ width:20px; height:20px; cursor:pointer; background:url(../images/icons.png) no-repeat;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out; }
.closealert:hover{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
.pagnation{ margin-top:10px; border-bottom:1px solid #B0B0B0; padding-bottom:10px; padding-left:15px; text-align:left; }
.pagnation a{ text-align:center;}
.fr{ font-size:18px; line-height:50px; color:#707070; float:right; margin-right:15px; margin-top:15px;  }
.fr a{ font-size:18px; line-height:50px; color:#FF4200; margin-left:5px; }
.lolertit{ color:#00A513; font-size:20px; border-bottom:1px solid #B0B0B0;   padding:10px;}
.poptit{ padding-left:20px; margin-top:10px; background:url(../images/popx.png) bottom left repeat-x; padding-bottom:15px; font-size:15px;  }
.poptit span{ margin-right:25px;}
.popcon{ color:#7B7B7B; border-bottom:1px solid #B0B0B0; margin:15px; line-height:25px; text-align:justify; padding-bottom:15px; margin-top:25px; }
.popcon p{ color:#2E2E2E; font-size:14px; text-align:left; margin-top:20px; font-weight:normal;}
.popbut {
    padding: 5px 12px;
    background: none repeat scroll 0% 0% #309EFD;
    cursor: pointer;
    margin-right: 43px;
    color: #FFF;
    font-size: 18px;
    display: block;
    border-radius: 5px;
	border:none;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
	font-family: "Hiragino Sans GB","Microsoft Yahei",arial,����,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
.clear{ clear:both;}
.popgreen{ color:#00A60E;}
.popconn{ margin:15px; line-height:22px;}
.popconn p{font-size:14px; font-weight: normal; line-height:25px; margin-bottom:10px; text-align:left;}
.popconnti{ background:#E8E8E8; color:#989898; height:25px; line-height:25px; text-align:center; font-size:15px; margin-top:15px; margin-bottom:10px;}
.lolist{ width:780px; margin:0 auto; margin-top:30px; }
.lolist ul li{ height:50px; list-style:none;}
.lolist ul li span{ width:150px; text-align:right; font-size:20px; float:left; display:block;}
.lolist ul li input{ border:1px solid #D2D2D2; height:30px; line-height:30px; padding:5px; width:450px; margin-left:10px;}
.lolist ul li input:hover{ border:1px solid #02A411;}
.lolist ul li textarea{ border:1px solid #D2D2D2;  line-height:25px; padding:5px; width:450px; margin-left:10px; height:60px;}
.lolist ul li textarea:hover{ border:1px solid #02A411;}
.lolist1{ width:700px; margin:0 auto; margin-top:25px; }
.lolist1 ul li{ height:45px; list-style:none;}
.lolist1 ul li span{ width:100px; }
.sloetit{ font-size:25px; text-align:center; line-height:50px;}
.sslotit{ border-bottom:1px solid #B0B0B0; border-top:1px solid #B0B0B0; height:50px; line-height:50px;}
.sslotit p{ text-align:center; font-size:25px; float:left; height:50px;  color:#2E2E2E; line-height:50px;}
.sslotit p.titg{ width:399px; color:#01A30F; border-right:1px solid #B0B0B0; height:50px; }
.leftslo{ width:399px;  border-right:1px solid #B0B0B0; border-bottom:1px solid #B0B0B0; float:left; padding-top:20px;}
.demo-list{ }
.demo-list ul li{ list-style:none; font-size:20px; height:50px; color:#2E2E2E; margin-left:30px; }
.demo-list ul li input{ margin-right:5px; display:block;}
.rightslo{ float:left; width:400px; border-bottom:1px solid #B0B0B0; padding-top:20px;}
.demobtn{ text-align:right; }
.demobtn a{ margin-right:20px; margin-top:15px; font-size:18px; color:#309EFF; padding:5px; float:right;  display:block; cursor:pointer; -moz-border-radius: 5px;       /* Gecko browsers */
    -webkit-border-radius:5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
	 behavior: url(../js/ie-css3.htc);}
.demobtn a:hover{ background:#309EFF; color:#FFFFFF; text-decoration:none; }
.eleftlo{  width:249px; float:left; text-align:center; margin-top:50px; font-size:16px;}
.eleftlo p{ font-size:14px; font-weight:normal; margin-top:15px;}
.erightlo{ width:550px; float:right; margin-top:50px; font-size:20px; text-align:center; border-left:1px solid #EEEEEE; }
.titgrek{ color:#373334; border:1px solid #00A60E; padding:5px; width:100px; margin:auto; margin-top:80px;}
.titgrek span{ background:url(../images/pub.png) 0 0 no-repeat; width:11px; height:7px; display:block; float:right; margin-top:5px;}
.erightlo a{ margin-left:40px; float:left; margin-top:40px;}
.bfive{ background:url(../images/sample1.jpg) no-repeat; width:211px; height:209px; display:block; cursor:pointer;}
.bfive:hover{ background:url(../images/sample2.jpg) no-repeat; width:211px; height:209px; display:block; cursor:pointer;}
.bfour{ background:url(../images/sample3.jpg) no-repeat; width:211px; height:209px; display:block; cursor:pointer;}
.bfour:hover{ background:url(../images/sample.jpg) no-repeat; width:211px; height:209px; display:block; cursor:pointer;}
.shchu{ margin:35px; margin-top:45px;}
.shchu p{ font-weight:normal; text-align:left; line-height:30px;}
.shchu img{ float:left; margin-right:10px;}